<p>Hello <%= @user_by.name.capitalize %>!</p>

<p>Congratulation!!! </p>
<p> Match has been confirmed and has been sent for City Confirmation.</p>


<p>We will let you know the status as soon as we get it.</p>