<p>Hello <%= @user_by.name.capitalize %>!</p>

<p>Sorry!! </p>
<p> Match has been Rejected and your Wish Status has been updated to Active again for wish match.</p>


<p>We will let you know as soon as we found a new match for your wish.</p>