.location_image {
  cursor: pointer
}

.badge-size {
  font-size: 24px !important;
  padding: 13px 4px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.selected-text {
  color: red;
  padding: 1px;
}